<div class="card shadow h-100">
    <div class="thumbnails m-3">
        {%- if image != blank -%}
            <a href="{{ product.url | within: collection }}" class="position-relative h-100 d-flex align-items-center">
                <img width="150" height="100" class="featured-image card-img-top lazyload" src="{{ 'spinner.gif' | asset_img_url: '150x'}}" data-src="{{ image | img_url: '150x' }}" alt="{{ product.title }}">
                {% if secondImage != blank %}                
                    <img width="150" height="100" class="secondary-image card-img-top lazyload" src="{{ 'spinner.gif' | asset_img_url: '150x'}}" data-src="{{ secondImage | img_url: '150x' }}" alt="{{ product.title }}">
                {% endif %}
            </a>
        {%- else -%}
            <a href="{{ product.url }}">{{ 'image' | placeholder_svg_tag: 'card-img-top' }}</a>
        {%- endif -%}
    </div>
    <div class="card-body">
        <h5>
            <a href="{{ product.url }}">{{ product.title }}</a>
        </h5>
        <p class="price">{{ product.price | money }}</p>
        {%- if product.available -%}
            <p>
                <span class="badge bg-success">In Stock</span>
            </p>
        {%- else -%}
            <p>
                <span class="badge bg-danger">Sold Out</span>
            </p>
        {%- endif -%}


        {%- if cart_buttons == true -%}
            {%- form 'product', product, class: "product-form", id: "AddToCartForm" -%}
                <div class="mb-3">
                    <select class="form-select form-select-sm" id="ProductSelect" name="id">
                        {%- for variant in product.variants -%}
                            {%- if variant.available -%}
                                <option value="{{ variant.id }}">
                                    {{ variant.title }}
                                </option>
                            {%- else -%}
                                <option value="{{ variant.id }}" disabled="disabled">
                                    {{ variant.title }}
                                </option>
                            {%- endif -%}
                        {%- endfor -%}
                    </select>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" id="Quantity" min="1" name="quantity" type="number" value="1">
                </div>
                <button type="submit" name="add" class="btn btn-primary-custom btn-sm w-100 rounded-0" {% if product.available != true %} disabled {% endif %}>
                    Add To Cart
                </button>
            {%- endform -%}
        {%- endif -%}

    </div>
</div>