<div class="top-bar">
    <div class="container-fluid d-flex align-items-center justify-content-around">
        <div class="row w-100">
            <div class="col-sm-12 col-lg-8">
                <div class="top-bar-links navbar navbar-expand-lg d-none d-lg-block">
                    {% render 'top-bar' %}
                </div>
            </div>
            <div class="col-sm-12 col-lg-4">
                <div class="top-bar-icons">
                    <ul class="d-flex list-style-none m-0 p-0 justify-content-around justify-content-lg-end">
                        <li class="nav-item">
                            {%- form 'localization', id: "localization_form_tag" -%}
                                <a class="nav-link" data-bs-target=".locale-items" data-bs-toggle="collapse" href="javascript:void(0)">{{ form.current_locale.name | upcase }}<i class="arrow down d-none d-md-inline-block"></i>
                                </a>
                                <div class="locale-items collapse">
                                    {%- for locale in shop.published_locales -%}
                                        <a id="localeItem" class="nav-link d-block text-decoration-none" lang="{{ locale.iso_code }}">{{ locale.name | upcase }}</a>
                                    {%- endfor -%}
                                </div>
                                <input id="localeCode" type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}">
                            {%- endform -%}
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-secondary" data-bs-target=".search-bar" data-bs-toggle="collapse" href="javascript:void(0)" id="search_icon">{% render 'icon-search' %}</a>
                        </li>
                        {%- if shop.customer_accounts_enabled -%}
                            {%- if customer -%}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ routes.account_url }}">Account</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ routes.account_logout_url }}">Logout</a>
                                </li>
                            {%- else -%}
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" href="{{ routes.account_login_url }}">{% render 'icon-login'
								%}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" href="{{ routes.account_register_url }}">{% render
								'icon-register' %}</a>
                                </li>
                            {%- endif -%}
                        {%- endif -%}
                        <li class="nav-item dropdown dropdown-hover">
                            <span class="nav-link text-secondary has-dropdown" id="cart">{% render 'icon-shopping-cart' %}<span class="badge bg-danger rounded-pill" id="cart_items">0</span>
                            </span>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="search-bar collapse">
    <div class="container">
        <div class="w-50 mx-auto p-2">
            <form action="/search" method="GET" role="search">
                <input id="search" class="w-100 p-1 border shadow" type="text" name="q" value="{{ search.terms | escape }}" placeholder="Search">
            </form>
        </div>
    </div>
</div>

{% if section.settings.logo != blank %}
    <div class="logo-bar text-center">
        <a href="{{ shop.url }}">{{ section.settings.logo | image_url: width: 200, height: 200 | image_tag: srcset: nil }}</a>
    </div>
{% endif %}
<div class="container">
    <div class="row">
        <nav class="navbar-main navbar navbar-expand-lg navbar-light" id="main-navbar">
            <a class="navbar-brand text-secondary m-0 p-2" href="/">{% render 'icon-home' %}</a>
            <button aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbarNav" data-bs-toggle="collapse" type="button">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav" id="main-menu">
                    {% for block in section.blocks %}
                        {% case block.type %}
                            {% when 'flyout_menu' %}
                                {% assign menu = block.settings.flyout_menu %}
                                {% assign menu_url = block.settings.url %}

                                <li class="nav-item{% if menu.links != blank %} dropdown dropdown-hover{%- endif -%}">
                                    <a class="nav-link text-secondary{% if menu.links != blank %} has-dropdown{%- endif -%}" href="{{ menu_url.url }} ">{{- menu.title  -}}
                                        {%- if menu.links != blank -%}
                                            <i class="arrow down"></i>
                                        {%- endif -%}
                                    </a>
                                    {% if menu.links  != blank %}
                                        <ul class="dropdown-menu">
                                            {% for link in menu.links %}
                                                <li class="nav-item{% if link.links != blank %} dropdown dropdown-hover{% endif %}">
                                                    <a class="nav-link{% if link.links != blank %} has-dropdown{%- endif -%}" href="{{ link.url }}">{{- link.title -}}
                                                        {%- if link.links != blank -%}
                                                            <i class="arrow right"></i>
                                                        {%- endif -%}
                                                    </a>
                                                    {% if link.links != blank %}
                                                        <ul class="dropdown-menu dropdown-menu-horizontal">
                                                            {% for child_link in link.links %}
                                                                <li class="nav-item{% if child_link.links != blank %} dropdown dropdown-hover{% endif %}">
                                                                    <a class="nav-link{% if child_link.links != blank %} has-dropdown{%- endif -%}" href="{{ child_link.url }}">{{- child_link.title -}}
                                                                        {%- if child_link.links != blank -%}
                                                                            <i class="arrow right"></i>
                                                                        {%- endif -%}
                                                                    </a>
                                                                    {% if child_link.links != blank %}
                                                                        <ul class="dropdown-menu dropdown-menu-horizontal">
                                                                            {% for grandchild_link in child_link.links %}
                                                                                <li class="nav-item">
                                                                                    <a class="nav-link" href="{{ grandchild_link.url }}">{{- grandchild_link.title -}}</a>
                                                                                </li>
                                                                            {% endfor %}
                                                                        </ul>
                                                                    {% endif %}
                                                                </li>
                                                            {% endfor %}
                                                        </ul>
                                                    {% endif %}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </li>
                            {% when 'mega_menu' %}
                                {% assign menu = block.settings.flyout_menu %}
                                {% assign menu_url = block.settings.url %}

                                <li class="nav-item{% if menu.links != blank %} dropdown-hover{%- endif -%}">
                                    <a class="nav-link text-secondary{% if menu.links != blank %} has-dropdown{%- endif -%}" href="{{ menu_url.url }} ">{{- menu.title  -}}
                                        {%- if menu.links != blank -%}
                                            <i class="arrow down"></i>
                                        {%- endif -%}
                                    </a>
                                    {% if menu.links  != blank %}
                                        <div class="dropdown-menu w-100 p-3">
                                            <div class="row">
                                                <div class="col-lg-9">
                                                    <div class="mega-menu">
                                                        {% for link in menu.links %}
                                                            <div class="mega-col">
                                                                <ul class="nav">
                                                                    <li>
                                                                        <a class="text-decoration-none" href="{{ link.url }}">{{ link.title }}
                                                                        </a>
                                                                        {% if link.links != blank %}
                                                                            <ul class="nav">
                                                                                {% for child_link in link.links %}
                                                                                    <li>
                                                                                        <a class="mm-nav-link text-decoration-none" href="">
                                                                                            <i class="arrow right mx-2"></i>
                                                                                            {{ child_link.title }}</a>
                                                                                    </li>
                                                                                {% endfor %}
                                                                            </ul>
                                                                        {% endif %}

                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-3">
                                                    {% for collection in collections %}
                                                        {% if collection.url == menu_url %}
                                                            <img src="{{ collection.image | img_url: 'medium'}}" alt="">
                                                        {% endif %}
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    {% endif %}
                                </li>
                            {% when 'url' %}
                                <!-- {% assign menu = block.settings.url %} -->
                                <li class="nav-item">
                                    <a class="nav-link text-secondary" href="{{ block.settings.url }}">{{ block.settings.item }}</a>
                                </li>
                            {% else %}
                        {% endcase %}
                    {% endfor %}
                </ul>
                <div class="top-bar-links navbar navbar-expand-lg border-top border-warning d-lg-none">
                    {% render 'top-bar' %}
                </div>
            </div>
        </nav>
    </div>
</div>

<div aria-labelledby="offcanvasLabel" class="offcanvas offcanvas-end" id="offcanvasSearchResult" tabindex="-1">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasLabel">Product Search Result</h5>
        <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div class="offcanvas-body" id="search_results_body"></div>
</div>

<div aria-labelledby="offcanvasDrawer" class="offcanvas offcanvas-end" id="offcanvasCartDrawer" tabindex="-1">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDrawer">Cart Drawer</h5>
        <button aria-label="Close" class="btn-close text-reset" data-bs-dismiss="offcanvas" type="button"></button>
    </div>
    <div id="offcanvas-buttons"></div>
    <div class="offcanvas-body" id="cart_drawer_body"></div>
    <div class="offcanvas-footer text-center">
        <a href="{{ routes.cart_clear_url }}" class="btn btn-danger w-100">Remove
                                                                                                                                                                                                                                                                                                                                    			Everything From Cart</a>
    </div>
</div>

{% schema %}

{
    "name": "Header Section",
    "tag": "header",
    "settings": [
        {
            "type": "header",
            "content": "Logo"
        }, {
            "type": "image_picker",
            "id": "logo",
            "label": "Select Logo"
        }, {
            "type": "color",
            "id": "logo_bar",
            "label": "Logo Bar"
        }, {
            "type": "header",
            "content": "Top Bar"
        }, {
            "type": "color",
            "id": "top_bar",
            "label": "Top Bar Background Color"
        }, {
            "type": "link_list",
            "id": "top_menu",
            "label": "Top Bar Menu"
        }, {
            "type": "header",
            "content": "Search Bar"
        }, {
            "type": "color",
            "id": "search_bar",
            "label": "Search Bar Background Color"
        }, {
            "type": "header",
            "content": "Nav Bar"
        }, {
            "type": "color",
            "id": "navbar_main",
            "label": "Navigational Bar Background Color"
        }
    ],
    "blocks": [
        {
            "type": "flyout_menu",
            "name": "Flyout Menu",
            "settings": [
                {
                    "type": "link_list",
                    "label": "Choose Flyout Menu",
                    "id": "flyout_menu"
                }, {
                    "type": "url",
                    "label": "Enter URL",
                    "id": "url"
                }
            ]
        }, {
            "type": "mega_menu",
            "name": "Mega Menu",
            "settings": [
                {
                    "type": "link_list",
                    "label": "Choose Flyout Menu",
                    "id": "flyout_menu"
                }, {
                    "type": "url",
                    "label": "Enter URL",
                    "id": "url"
                }
            ]
        }, {
            "type": "url",
            "name": "Link",
            "settings": [
                {
                    "type": "text",
                    "label": "Enter Menu Item",
                    "id": "item"
                }, {
                    "type": "url",
                    "label": "Enter URL",
                    "id": "url"
                }
            ]
        }
    ]
}

{% endschema %}

{% style %}

.top-bar {
    background-color: {{section.settings.top_bar}};
}

.search-bar {
    background-color: {{section.settings.search_bar}};
}

.logo-bar {
    background-color: {{section.settings.logo_bar}};
}

#shopify-section-header {
    background-color: {{section.settings.navbar_main}};
}

{% endstyle %}