{%- assign current_product = product.first_available_variant -%}

<div class="container">
	<div class="row" itemscope itemtype="">
		{% for block in section.blocks %}
		{% case block.type %}
		{% when 'product_main' %}
		<div class="col-md-6 col-12 g-5">
			<h1 itemprop="name">{{ product.title }}</h1>			
			
			<meta itemprop="mpn" content= "{{ current_product.sku }}">
			<meta itemprop="sku" content= "{{ current_product.sku }}">
			<img itemprop="image" style="display: none;" src="{{ product.featured_image | img_url: 'medium' }}">			      
    		<meta itemscope itemtype="http://schema.org/Brand" itemprop="brand" content= "{{ product.vendor }}">
			{% if block.settings.option1  != blank %}
			<p>{{ block.settings.option1 }}</p>
			{% endif %}	

			{% if block.settings.option2 != blank %}
			<p class="lead text-muted">{{ block.settings.option2 }}</p>
			{% endif %}	
			
			<div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
			<p id="product-price" itemprop="price" content="{{ current_product.price | money_without_currency }}">{% if product.price_varies %}From:{% endif %}{{ product.price | money }}</p>
			<meta itemprop="priceCurrency" content="{{ shop.currency }}">
			<meta itemprop="url" content= "{{shop.url}}{{ product.url }}">	
			<meta itemprop="priceValidUntil" content="{{ "now" | date: "%d-%m-%Y" }}">		
			{% if product.available %}
			<p itemprop="availability" content="https://schema.org/InStock" class="badge bg-success">In Stock</p>
			{% else %}
			<p itemprop="availability" content="" class="badge bg-danger">Sold Out</p>
			{% endif %}
			{%- form 'product', product, class: "product-form", id: "AddToCartForm" -%}
			<div class="mb-3">
				<select name="id" id="ProductSelect" class="form-select">
					{%- for variant in product.variants -%}
					{%- if variant.available -%}
					<option price="{{ variant.price | money }}" value="{{ variant.id }}" {% if variant.selected %}
						selected="selected"
					{% endif %}>
						{{ variant.title }}
					</option>
					{%- else -%}
					<option price="{{ variant.price | money }}" value="{{ variant.id }}" disabled="disabled">
						{{ variant.title }}
					</option>
					{%- endif -%}
					{%- endfor -%}
				</select>
			</div>
			</div>
			<div class="mb-3">
				<label for="Quantity" class="form-label">Quantity:</label>
				<input type="number" class="form-control" value="1" min="1" name="quantity" id="Quantity">
			</div>
			<div class="mb-3">
				<input type="hidden" name="properties[Gift]" value="No">
				<input id="gift" type="checkbox" name="properties[Gift]" value="Yes">
				<label for="gift">Wrap Gift +1$</label>
				<br>
				<input type="file" id="file" name="properties[file]">
				<label for="file"></label>
			</div>
			<button type="button" name="add" id="AddToCart" class="btn btn-secondary btn-lg w-100 rounded-0" {% if
				product.available != true %}disabled{% endif %}>
				Add To Cart
			</button>
			{%- if section.settings.dynamic_buttons_checkbox == true -%}
			{{ form | payment_button }}
			{%- endif -%}
			{%- endform -%}
			<div itemprop="description">{{ product.description | escape_html }}</div>
		</div>
		{% when 'product_carousel' %}
		<div class="col-md-6 col-12 g-5">
			<div class="product-slider-for">
				{%- for image in product.images -%}
				<img src="{{ image.src | img_url: 'large' }}" alt="{{ image.alt }}">
				{%- endfor -%}
			</div>
			<div class="product-slider-nav">
				{%- for image in product.images -%}
				<img src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt}}">
				{%- endfor -%}
			</div>
		</div>
		{% else %}
		{% endcase %}
		{% endfor %}
	</div>



	<div class="row">
		<section id="product_recomendations" class="justify-content-center my-5">
			<div class="text-center">
				<h1>You may also like</h1>
			</div>
			<div id="product_recomendations_body" class="row"></div>
		</section>
	</div>
</div>

<script>
	var productRecomendationBody = document.getElementById("product_recomendations_body");
	fetch("/recommendations/products.json?product_id={{ product.id }}&limit={{ section.settings.recomended_products }}")
		.then(resp => resp.json())
		.then(({products}) => {
			console.log(products);

			if (products.length > 0) {
				products.forEach(function (product, index) {
					var card;
					card = '<div class="col-md-3 g-2">';
					card += '<div class="card h-100">';
					if (product.images.length > 0) {
						card += '<img class="card-img-top lazyload blur-up" data-src="' + product.images[0] + '&width=400">';
					}
					card += '<div class="card-body">';
					card += '<div class="h5"><a href="' + product.url + '">' + product.title + '</a></div>';
					card += '</div></div></div>';
					productRecomendationBody.innerHTML += card;
				});
			}
		});
</script>

{%- assign reviews_count = product.metafields.reviews.rating_count -%}
{%- assign rating_value = product.metafields.spr.reviews | split: '"ratingValue": "' | last | split: '"' | first | plus: 0 -%}

<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Product",
		"name": {{ product.title | json }},
		"sku": {{ current_product.sku | json }},
		"mpn": {{ current_product.sku | json }},
		"description": {{ product.description | strip_html | json }},
		"image": {{ product.featured_image | img_url: 'medium' | json }},
		"brand": {
			"@type": "Brand",
			"name": {{ product.vendor | json }}	
		},
		"offers": {
			"@type": "Offer",
			"price": {{ current_product.price | money_without_currency | json }},
			"priceCurrency": {{ shop.currency | json }},
			"url": "{{shop.url}}{{ product.url }}",
			{% if product.available == true %}
			"availability": "https://schema.org/InStock",
			{% else %}
			"availability": "https://schema.org/SoldOut",
			{% endif -%}
			"priceValidUntil": {{ "now" | date: "%d-%m-%Y" | json }}	
		},
		"aggregateRating": {
			"@type": "AggregateRating",
			"reviewCount": {{ reviews_count | json }},
			"ratingValue": {{ rating_value | json }}		
		}		
    }	
</script>

<script>
	$(document).ready(function () {
		var target = document.getElementById('shopify-product-reviews')
	
		var observer = new MutationObserver(function(mutations) {
		$('#shopify-product-reviews [type="application/ld+json"]').remove();
		});

		var config = { attributes: true, childList: true, characterData: true };
		observer.observe(target, config);
	
	});
</script>

{% schema %}

{
    "name": "Product Pages",
    "settings": [
        {
            "type": "checkbox",
            "id": "dynamic_buttons_checkbox",
            "label": "Enable Dynamic Buttons",
            "default": false
        }, {
            "type": "range",
            "id": "recomended_products",
            "label": "Number of Recomended Products",
            "min": 4,
            "max": 8,
            "step": 1,
            "default": 4
        }
    ],
    "blocks": [
        {
            "type": "product_main",
            "name": "Product Main",
            "limit": 1,
            "settings": [
                {
                    "type": "text",
                    "label": "Option 1",
                    "id": "option1"
                }, {
                    "type": "text",
                    "label": "Option 2",
                    "id": "option2"
                }
            ]
        }, {
            "type": "product_carousel",
            "name": "Product Carousel",
            "limit": 1
        }
    ]
}

{% endschema %}